@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

.pageWrite {
  // + 공간 더 넓게 만들기
  .ce-block__content {
    /* max-width: 650px; */
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
  }
  .ce-toolbar__content {
    /* max-width: 650px; 이 속성 때문에 작았음 */
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }

  // editor - text font
  .ce-paragraph {
    font-size: 15px;
  }
  // edtitor - text border
  .ce-paragraph b {
    font-size: 15px;
  }
  // editor - heading
  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
  h4 {
    display: block;
    font-size: 1em;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
  }
}
